{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='sidebar.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='sidebar1.js')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">LuxMDM</a>
      <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
              <p class="navbar-text">Hello {{ name }}</p>
              <li><a href="#">Logout</a> </li>
          </ul>
      </div>

  </div>
</nav>
    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{ url_for('devicemon') }}">Device Monitoring</a></li>
            <li role="presentation"><a href="{{ url_for('sysmon') }}">System Monitoring</a></li>
            <li role="presentation" class="active"><a href="{{ url_for('manage') }}">Asset Management</a></li>
        </ul>
    </div>
<div id="wrapper" class="active">

      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li role="presentation" class="active"><a href="#devdecom" aria-controls="devdecom" role="tab" data-toggle="tab">Device Decommission<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li role="presentation"><a href="#devwipe" aria-controls="devwipe" role="tab" data-toggle="tab">Devices wiping<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
      </div>

      <!-- result display section -->
      <section style="padding:20px">

          <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="devdecom">
                  <h1>Device Decommission</h1>
                  <div id="searchinput">
                      <form class="navbar-form navbar-left" action="{{ url_for('devicedecom') }}" method="POST">
                          <div class="form-group">
                            <div class="col-lg-20">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="deco" placeholder="Search by Device Owner...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true">
                                            </span>
                                        </button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                          </div><!-- /.row -->
                      </form>
                  </div>
                  <br />
                  <div class="col-md-4 text-left">
                    <div class="box">
                        <div class="box-content">
                            <h2 class="tag-title">Device Information</h2>
                            <hr />
                            {% if status %}
                                <ul>
                                    <li style="bold"><h4>Device Owner: {{ owner }}</h4></li>
                                    <li style="bold"><h4>Device Serial: {{serial}}</h4></li>
                                    <li style="bold"><h4>Device provision date: {{date}}</h4></li>
                                </ul>
                            {% endif %}
                            <br />
                            <button type="button" class="btn btn-default btn-danger">Decomission NOW</button>
                        </div>
                    </div>
                  </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="devwipe">
                  <h1>Remote Device Wipe</h1>
                  <div id="searchinput2">
                      <form class="navbar-form navbar-left" action="{{ url_for('devicewipe') }}" method="post">
                          <div class="form-group">
                            <div class="col-lg-20">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="wipe" placeholder="Search by Device Owner...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true">
                                            </span>
                                        </button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                          </div><!-- /.row -->
                      </form>
                  </div>
                  <br />
                  <div class="col-md-4 text-left">
                    <div class="box">
                        <div class="box-content">
                            <h2 class="tag-title">Device Information</h2>
                            <hr />
                            {% if status %}
                                <ul>
                                    <li style="bold"><h4>Device Owner: {{ owner }}</h4></li>
                                    <li style="bold"><h4>Device Serial: {{serial}}</h4></li>
                                    <li style="bold"><h4>Device provision date: {{date}}</h4></li>
                                </ul>
                            {% endif %}
                            <br />
                            <button type="button" class="btn btn-default btn-danger">Wipe Device NOW</button>
                        </div>
                    </div>
                  </div>
              </div>
          </div>

      </section>

    </div>

<script>
    function myfunc(){
    document.getElementById("owner").style.display="block"
    }
</script>

{% endblock %}